body{
  background-color: #ECF9FF;
}
h1{
    color: #66BFBF;
}

h3{
  color: #66BFBF;
}

hr{


  border-style:dotted none none;
  border-color: #FFFBEB;
  border-width:5px;
  width: 30%;
}
img{
  height: 250px;
}
